.iconfont {
  font-size: 14px;
}
.el-button [class*=el-icon-]+span,
.el-button [class*=iconfont]+span
{
  margin-left: 5px;
}
.swal2-container {
  z-index: 19930207 !important;
}

.dialog-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  left: 0;
  background: #fff;
  border-radius: 0 0 2px 2px;
}

.avue-group {
  &__item {
    margin-bottom: 0px !important;
    padding: 0px !important;
  }
}
