@import "./common";
html,
body,
#app,
.el-scrollbar__view {
  height: 100%;
}
.el-loading-mask{
  background-color: rgba(0, 0, 0, 0.08) !important;
}
img, svg, video, canvas, audio, iframe, embed, object{
  display: inline-block;
}

button:focus{
  outline: none;
}